[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RPostgreSQL"]
	path = RPostgreSQL
	url = https://github.com/tomoakin/rpostgresql
	subdir = RPostgreSQL
